.container {
	padding: 20px;
	border: 1px solid gray;
}

#monthlyExpenses {
	font-weight: 600;
	font-size: larger;
}

.inactive {
	color: #a9a9a9;
}

.employeeInformations {
	display: inline;
	float: left;
	width: 300px;
	height: 200px;
}